
<div class="maindiv">
    <form class="containerdiv" action={{goto}} method="POST">
        <legend class="mt-4 text-light">{{heading}}</legend>
        <div class="insider">
            <span><img src="/images/nameicon.png" alt=""> <input type="text" placeholder="First Name" name="first_name"
                    id="first_name" {{#if UserData}}value="{{UserData.first_name}}"{{/if}}></span>
            <span><img src="/images/nameicon.png" alt=""> <input type="text" placeholder="Last Name" name="last_name"
                    id="last_name"{{#if UserData}}value="{{UserData.last_name}}"{{/if}}></span>
            <span><img src="/images/gmail.png" alt=""> <input type="email" placeholder="Email Address" name="email"
                    id="email"{{#if UserData}}value="{{UserData.email}}"{{/if}}></span>
            <span><img src="/images/gender.png" alt=""> <input type="text" placeholder="Gender" name="gender"
                    id="gender"{{#if UserData}}value="{{UserData.gender}}"{{/if}}></span>
            <span><img src="/images/password.png" alt=""> <input type="password" placeholder="Password" name="pw"
                    id="pw"></span>
            <span><img src="/images/password.png" alt=""> <input type="password" placeholder="Confirm Password"
                    name="pw_confirm" id="pw_confirm"></span>
            {{#if adminSignup}}
            <input type="hidden" class="form-control" name="is_admin" id="is_admin" value="true">
            {{else}}
            <input type="hidden" class="form-control" name="is_admin" id="is_admin" value="false">
            {{/if}}
            <p class="text-danger" id="error"></p>

        </div>
        <div>
            <input type="submit" value="Submit"
                style="border-radius: 20px;font-weight: bold; background-color: #edf3fa;color: rgb(223, 43, 20);width: 230px; padding: 5px;border: none;"
                value="Submit">
        </div>
        {{#if adminSignup}}
        <div>
            <a href="/admin/to_admin_login"><img src="/images/adminlogicon.png" alt=""></a>
        </div>
        {{/if}}
    </form>
</div>
<script>
    const firstname=document.getElementById('first_name')
    const lastname=document.getElementById('last_name')
    const formid=document.querySelector('form')
    const error=document.getElementById('error')
    const email=document.getElementById('email')
    const gender=document.getElementById('gender')
    const pass=document.getElementById('pw')
    const cPass=document.getElementById('pw_confirm')

    formid.addEventListener('submit',validate)

    function validate(event){
        if(!nameReg.test(firstname.value)){
            if(firstname.value == ""){
            event.preventDefault();
            error.innerText="Enter the Name"
            }
            else{
                event.preventDefault();
                error.innerText="Name not valid"
            }
        }
        
        else if(!nameReg.test(lastname.value)){
            if(lastname.value == ""){
            event.preventDefault();
            error.innerText="Enter last name"
            }
            else{
                event.preventDefault();
                error.innerText="last name not valid"
            }
        }
        else if(!emailReg.test(email.value)){
            if(email.value == ""){
            event.preventDefault();
            error.innerText="Enter email"
            }
            else{
                event.preventDefault();
                error.innerText="Email not valid"
            }
        }
        else if(!genderReg.test(gender.value)){
            if(gender.value == ""){
            event.preventDefault();
            error.innerText="Enter Gender"
            }
            else{
                event.preventDefault();
                error.innerText="Enter Male/Female"
            }
        }
        else if(!passwordReg.test(pass.value)){
            if(pass.value == ""){
            event.preventDefault();
            error.innerText="Enter password"
            }
            else{
                event.preventDefault();
                error.innerText="At least 5 with number"
            }
        }
        else if(cPass.value !== pass.value){
            event.preventDefault();
            error.innerText="Invalid"
        }
    }
    const nameReg=/^[A-Z][a-z]?/
    const emailReg=/[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$/
    const genderReg=/.*[Male].*[Female]/
    const passwordReg=/(?=.*[0-9])(?=.*[a-z]).{5,8}$/
</script>